<h1>Stupid Coaching</h1>
<form action="/answer" method="get">
  <label for="coachText">Ask your coach anything:</label>
  <div >
  <input type="text" name="message" class="sr-only">
  <button type="submit" value="Ask!" class="btn btn-primary mb-2">Ask!</button>
</form>
